.footer{ 
  background-color: #2F303A;;
  padding-top: 60px;
  padding-bottom: 60px;  
}

.footer-content{
display: flex;
align-items:baseline;
}

.footer-logo-studio{
flex-grow: 1;
}

.header-logo_size_n{
 margin-bottom: 20px;  
 color: var(--accent-color);
}

.header-logo_color_anoth{

  color: var(--primary-white-color);
 }
.footer-list-footer__link-adress{
  @include font( $lh:1.7, $fw:400);
  color: var(--primary-white-color);
  transition:color 250ms var(--timing-function);
   &:hover,
   &:focus{
   color: var(--accent-color);
}    
}


.footer-list-footer__item .link{ 

color: rgba(255, 255, 255, 0.6); 
  font-size: 14px;
  line-height: 1.17; 
  font-style: normal;  
}
.footer-list-footer__item:not(:last-child){
margin-bottom: 9px;
}


.footer-list-footer__link{
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus{
   color: var(--accent-color);
}    
}
.socials-footer{
margin-left: 70px;

}
.socials-caption{
  @include font(); 
text-transform:uppercase; 
margin-bottom: 20px;
text-align: left;
color: var(--primary-white-color);

} 

.footer-socials-social__item:not(:last-child){
 margin-right: 10px;
}
.footer-socials-social__link{
  width: 44px;
  height: 44px;
  display: flex;
  align-items:center;
 justify-content:center;
  border-radius:50% ; 
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
   &:hover,
   &:focus{
background-color: var(--accent-color);
}
}

.social-icon{
 fill: var(--primary-white-color);
}



.footer-form{
  margin-left: 93px;
}  


.footer-deck input{
  @include font($fz:16px, $lh:1.25, $fw:400);
  display: inline-block;
  width: 358px;
  height: 50px;
  text-align: left;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 12px;
  border: 1px solid rgba(255,255,255,0.3);
  background-color: #2F303A;
  padding: 15px;
  outline: none;

}


.footer-deck-footer__form-title{
margin-bottom: 20px;
display: block;
font-size: 14px;
text-transform: uppercase;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-align: left;
color: var(--primary-white-color);
border: none;
}
.footer-deck-button__footer{
@include font($fz:16px, $lh:1.85, $fw:700, $ls:0.06em);
display: inline-flex;
justify-content: center;
align-items:center;
text-align: center;
height: 50px;
width: 200px;
color: var(--primary-white-color);
background-color: var(--accent-color);
border-radius:4px;
border: 0;
}
.button-icon{
fill: var(--primary-white-color);
padding:0 auto;
margin-left: 10px;
}


.footer-imput:not(:placeholder-shown):required:valid{
color: var(--primary-white-color);
}
.footer-imput:not(:placeholder-shown):required:invalid{
background-color: #2F303A;
}