.perfomance__items{
  display: flex;
  
}
.perfomance__title{
@include font($fz:36px, $lh:1.36, $fw:700,);
  margin-bottom: 50px;
  text-align: center;
}
.perfomance__list:not(:first-child){
  margin-left: 30px;
  border-radius:4px;
 }
.perfomance__link{
 display: flex;
  width: 170px;
  height: 92px;
  align-items:center;
  justify-content: center;
  border-radius:4px;
  color: #AFB1B8;
  border:1px solid #AFB1B8;
  transition:border-color 250ms var(--timing-function),color 250ms var(--timing-function);
  &:hover,
  &:focus{
   border-color: var(--accent-color);
   color:var(--accent-color);
}
}


.perfomance__icon{
  fill: currentColor;
}
