.works-section{
  padding-top: 0;
  }
.works-title{
  @include font(36px, 1.16, 700);
  margin-bottom: 50px; 
  text-align: center; 
  color: var(--title-text-color);   
}
.works-head{
  @include font(14px, 1.14, 700);
  width: 100%;
  height: 70px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  text-align: center;
  background-color: rgba(47,48,58,0.8); 
  color: var(--primary-white-color);
}
.works-deck{
  position: relative;
}

.works-list{
  display: flex;
}

.works-item{
  width: 370px;
  &:not(:last-child){ 
  margin-right: 30px; 
  }
}
// .works-item:not(:last-child){ 
//     margin-right: 30px;
// }